.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 0px solid;
  border-bottom: 2px solid #1fb397;
  color: #1fb397;
  font-weight: 600;
}

.btn-success {
  background-color: #4bb197;
}
.total-price-text{
    font-size: 10px; color:#9f9f9f
}
.total-price{
    color: #1fb397; font-size: 20px;
}
.buy-now{
    border: 1px solid gray; font-size:12px
}
