  <!-- bottom Cart -->
  <div class="bottom_nav_container">
    <nav class="bottom_navbar">
      <a class="nav-item" href="javascript:void(0)">
        <span class="total-price-text">Total Price
          <br>
          <span class="total-price">$18.00</span>
        </span>

      </a>

      <a class="nav-item" href="javascript:void(0)" style="margin-left:73px">
        <span>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
              1</button>
            <button type="button" class="btn btn-dark buy-now">Buy Now</button>
          </div>
        </span>
      </a>

    </nav>
  </div>

  <div class="container-fluid responsive__ai single__product__container header__page">
    <div class="header__top">

      <header class="container header d-xl-none">
        <div class="form-group has-search">
          <a type="button" class="nav-link" [routerLink]="['']">
            <span style="font-size: 24px;">&lt; </span>
          </a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a type="button" class="nav-link" style="color: black !important;">
              <i class="fa fa-heart-o"></i>
            </a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" style="color: black !important;">
              <i class="fa fa-share-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" style="color: black !important;">
              <i class="fa fa-cart-shopping"></i>
              <span class="icon-button__badge">1</span>
            </a>
          </li>
        </ul>
      </header>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg bg-dark d-none d-lg-block">
    <div class="container-fluid">
      <a class="navbar-brand text-white" [routerLink]="['']">
        <i class="fa fa fa-shopping-bag"></i>
        TOKOSMILE
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="['']"role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:void(0)">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row d-none d-md-block">
      <div class="col-md-12">

        <nav
          style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
          aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">  </a></li>
            <li class="breadcrumb-item active" aria-current="page">Men's Fashion</li>
            <li class="breadcrumb-item active" aria-current="page">Men's Top</li>
            <li class="breadcrumb-item active" aria-current="page">Casual Shirt</li>
            <li class="breadcrumb-item active" aria-current="page">Essential Men's Regular-Fit Long-Sleeve Oxford Shirt
            </li>
          </ol>
        </nav>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="div row">
      <div class="col-md-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators custom-indicators flex-column m-0">

            <a aria-current="true" aria-label="Slide 1" class="active" data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              style="height: 32px; width: 32px; border-radius: 8px; overflow: hidden; background-image: url('./assets/img/slide1.png'); background-position: center; background-repeat: no-repeat; background-size: cover; background-color: transparent;">
            </a>

            <a aria-current="true" aria-label="Slide 2" class="active" data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              style="height: 32px; width: 32px; border-radius: 8px; overflow: hidden; background-image: url('./assets/img/silde2.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-color: transparent;">
            </a>

            <a aria-current="true" aria-label="Slide 3" class="active" data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              style="height: 32px; width: 32px; border-radius: 8px; overflow: hidden; background-image: url('./assets/img/silde3.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-color: transparent;">
            </a>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="assets/img/slide1.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/img/silde2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/img/silde3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="container p-0">
          <div class="row mb-3">
            <div class="col-md-12">
              <a href="javascript:void(0)" class="cardFooter"> <span style="color: #8d8d8d;"> <i class="fa fa-shopping-bag"
                    aria-hidden="true"></i>&nbsp;&nbsp;Thirfting_Store</span> </a>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <h3>
                Essential Men's Regular-Fit Long-Sleeve Oxford Shirt
              </h3>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12">
              <strong style="font-size: 14px; font-weight:500; color: #8d8d8d;">
                <i class="fa fa-star"></i> 4.9 Ratings &nbsp;<i class="fa fa-circle"
                  style="font-size:4px;vertical-align: middle;"></i>&nbsp; 2.3k+ Reviews &nbsp; <i class="fa fa-circle"
                  style="font-size:4px;vertical-align: middle;"></i> &nbsp;2.9k + Sold
              </strong>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">About Item</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Reviews</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="table-responsive">
                    <table class="table table-borderless mt-4" style="font-size: 12px;">
                      <tr>
                        <td>Brand:</td>
                        <td> <strong class="font-weight-bold"> Charmkpr </strong></td>
                        <td>Color:</td>
                        <td> <strong class="font-weight-bold"> Aprikot </strong></td>
                      </tr>
                      <tr>
                        <td>Category:</td>
                        <td> <strong class="font-weight-bold"> Casual Shirt </strong></td>
                        <td>Material: </td>
                        <td> <strong class="font-weight-bold"> Polyester </strong></td>
                      </tr>
                      <tr>
                        <td>Condition:</td>
                        <td> <strong class="font-weight-bold"> New </strong></td>
                        <td>Heavy: </td>
                        <td> <strong class="font-weight-bold"> 200g </strong></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <form action="" class="mb-3 mt-3">
                    <div class="row mb-3">
                      <input type="text" name="" id="" class="form-control" placeholder="Your Name"
                        style="width: 93%; margin-left: 10px">
                    </div>
                    <div class="row mb-3">
                      <textarea name="" id="" cols="20" rows="5" class="form-control" placeholder="Message"
                        style="width: 93%; margin-left: 10px"></textarea>
                    </div>
                    <button class="btn btn-success"> Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <hr style="opacity:0.2">
          <div class="row">
            <div class="col-md-12">
              <h6 class="font-weight-bold"> <strong> Description : </strong></h6>
              <ul style="list-style: disc; padding-left: 30px; font-size: 14px; color: #8d8d8d" class="mt-3">
                <li>Long-sleeve dress shirt in classic fit featuring button-down collar</li>
                <li>Patch Pocket on Left Chest</li>
                <li>Durable Combination Cotton Fabric</li>
                <li>Comforable and quality dress shirt</li>
                <li>Go to Classic button down shirt for all special occasions</li>
              </ul>

              <br>

              <span style="font-size: 12px; color: #8d8d8d"> Chat us if there is anything you need to ask about the
                product :) </span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <a href="javascript:void(0)" style="color:#4bb197;">See less <i class="fa fa-caret-up" aria-hidden="true"></i></a>
            </div>
          </div>

          <hr>

          <div class="row mt-4">
            <div class="col-md-12">
              <h6 class="font-weight-bold"><strong>Shippings Information : </strong></h6>
              <p style="color: #8d8d8d; font-size: 13px; margin-top:25px;">Delivery: <span
                  style="margin-left: 6px; color: black;"><strong>Shipping from Jakarta, Indonesia</strong></span> </p>
              <p style="color: #8d8d8d; font-size: 13px;">Shipping: <span
                  style="margin-left: 6px; color: black;"><strong>FREE Internation Shipping</strong></span> </p>
              <p style="color: #8d8d8d; font-size: 13px;">Arrive: <span
                  style="margin-left: 6px; color: black;"><strong>Estimated arrival on 25 - 27 Oct 202</strong></span>
              </p>
            </div>
          </div>
          <hr>
          <div class="row mt-4">
            <div class="col-md-12">
              <h6 class="font-weight-bold"><strong>Sellers Information :</strong></h6>
              <table class="table table-borderless">
                <tr>
                  <td width="20%">
                    <div class="relative online-dot-parent"
                      style="height: 100px; width: 100px; background-color: #c6c6c6; border-radius: 100%; text-align: center;">
                      <div class="online-dot">

                      </div>
                      <h6 class="font-weight-bold"> <strong> Thirfting Store.</strong></h6>
                    </div>
                  </td>
                  <td>
                    <h4 class="font-weight-bold" style="color:black"><strong>Thirfting_Store</strong></h4>

                    <p style="color: #9f9f9f;font-size: 10px;">Active 5 Minutes ago | 96.7% Positive
                      Feedback</p>

                    <button class="btn btn-outline-success"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Visit
                      Store</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="row">
          <!-- <div class="col-md-12">
            <button class="btn btn-outline-success">
              25% OFF
            </button>
          </div> -->
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <div class="card" style="width: 18rem;">
              <!-- <div class="card-header">
                <h6><strong> Set Order</strong></h6>
              </div> -->
              <h6 class="mt-4 ms-3"><strong> Set Order</strong></h6>
              <hr class="ms-3 me-3">
              <h6 class="mt-3 ms-3"><strong> Selected Size:</strong></h6>
              <h4 class="mt-3 ms-3"><strong> XL (Extra Large)</strong></h4>
              <img src="assets/img/slide1.png" class="img-thumbnail mt-3 ms-3" alt="..." height="150" width="150">
              <div class="card-body">
                <table class="table table-borderless">
                  <tr>
                    <td>Total Price:</td>
                    <td>
                      <h5><strong>$45.00</strong></h5>
                    </td>
                  </tr>
                </table>

                <div class="d-grid gap-2">
                  <button class="btn btn-outline-success active" type="button"> Buy Now</button>
                  <button class="btn btn-outline-success" type="button"><i class="fa fa-shopping-bag"
                      aria-hidden="true"></i> Add to Bag</button>
                </div>

                <hr>

                <table class="table table-borderless">
                  <tr class="text-center">
                    <td>
                      <a href="javascript:void(0)" class="cardFooter"> <span style="font-size: 14px; font-weight: 400;"> <i
                            class="fa fa-commenting-o"></i>
                          Chat Seller</span> </a>
                    </td>

                    <td>
                      <a href="javascript:void(0)" class="cardFooter"> <span style="font-size: 14px; font-weight: 400;"> <i
                            class="fa fa-share-alt"></i>
                          Share Product</span> </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <span style="font-size: 14px;">
            Any problem with this product <a href="javascript:void(0)" style="color:#4bb197;"> <i class="fa fa-flag"></i> Report</a>
          </span>
        </div>


      </div>
    </div>
  </div>

  <section style="margin-top: -32px">
    <div class="container" style="margin-bottom:-32px">
      <div class="row rating-container">
        <div class="col-md-4 mb-3">
          <hr>
          <p>Reviews and Ratings</p>
          <div class="rating-inner-row">
            <div class="rating-number">
              <div>
                <h1><span style="font-size:34px">4.9</span> <span>/5.0</span></h1>
                <div class="rating-stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
              </div>
              <div>
                <p>2.3k+ Reviews</p>
              </div>
            </div>
            <div class="">
              <div class="progress-bar-row">
                <i class="fa-solid fa-star"></i>
                <span style="width:11px;">5</span>
                <div class="progress">
                  <div data-percentage="0%" style="width: 100%;" class="progress-bar progress-bar-success"
                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mb-0" style="width: 25px;">1.5K</p>
              </div>
              <div class="progress-bar-row">
                <i class="fa-solid fa-star"></i>
                <span style="width:11px;">4</span>
                <div class="progress">
                  <div data-percentage="0%" style="width: 80%;" class="progress-bar progress-bar-success"
                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mb-0" style="width: 25px;">710</p>
              </div>
              <div class="progress-bar-row">
                <i class="fa-solid fa-star"></i>
                <span style="width:11px;">3</span>
                <div class="progress">
                  <div data-percentage="0%" style="width: 60%;" class="progress-bar progress-bar-success"
                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mb-0" style="width: 25px;">140</p>
              </div>
              <div class="progress-bar-row">
                <i class="fa-solid fa-star"></i>
                <span style="width:11px;">2</span>
                <div class="progress">
                  <div data-percentage="0%" style="width: 40%;" class="progress-bar progress-bar-success"
                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mb-0" style="width: 25px;">10</p>
              </div>
              <div class="progress-bar-row">
                <i class="fa-solid fa-star"></i>
                <span style="width:11px;">1</span>
                <div class="progress">
                  <div data-percentage="0%" style="width: 20%;" class="progress-bar progress-bar-success"
                    role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mb-0" style="width: 25px;">4</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>Reviews with images and videos</p>
          <div class="reviews-images">
            <img class="" src="./assets/img/slide1.png" alt="">
            <img class="" src="./assets/img/slide1.png" alt="">
            <img class="" src="./assets/img/slide1.png" alt="">
            <div class="plus-images">
              <span>120+</span>
              <img class="" src="./assets/img/slide1.png" alt="">
            </div>
          </div>
        </div>

        <div class="col-md-4 d-none d-md-block">

        </div>
      </div>
    </div>
    <div class="container" >
      <hr>
      <div class="reviews_border">
        
        <div class="top-reviews-container">
          <div class="top_reviews">
            <h6>
              Top Reviews
            </h6>
            <p style="color:#9f9f9f">Showing 3 of 2.3k+ reviews</p>
          </div>
          <select style="font-size: 14px;" class="form-select" aria-label="Default select example">
            <option selected>Popular</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div style="margin-top:15px;">
          <div class="user-reviews">
            <div class="avatar">
              <img src="./assets/img/card-1.jpg" alt="">
              <span>Eren Y*****r</span>
            </div>
            <div class="user-review-right">
              <i class="fa-solid fa-star"></i>
              <span>5.0</span>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </div>
          <div class="user-review-category">
            <p>Product Category</p>
            <p>Product Category</p>
          </div>
          <div class="my-4 user-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, omnis?</p>
          </div>
          <div class="user-rating">
            <div class="user-thumb">
              <i class="fa-solid fa-thumbs-up"></i>
              HelpFul?
            </div>
            <div class="user-day">
              <p class="mb-0">Wednesday</p>
            </div>
          </div>
        </div>
        <hr style="opacity:0.1">
        <div style="margin-top:20px;">
          <div class="user-reviews">
            <div class="avatar">
              <img src="./assets/img/card-1.jpg" alt="">
              <span>Eren Y*****r</span>
            </div>
            <div class="user-review-right">
              <i class="fa-solid fa-star"></i>
              <span>5.0</span>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </div>
          <div class="user-review-category">
            <p>Product Category</p>
            <p>Product Category</p>
          </div>
          <div class="my-4 user-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, omnis?</p>
          </div>
          <div class="user-rating">
            <div class="user-thumb">
              <i class="fa-solid fa-thumbs-up"></i>
              HelpFul?
            </div>
            <div class="user-day">
              <p class="mb-0">Wednesday</p>
            </div>
          </div>
        </div>
        <hr style="opacity:0.1">
        <div style="margin-top:20px;">
          <div class="user-reviews">
            <div class="avatar">
              <img src="./assets/img/card-1.jpg" alt="">
              <span>Eren Y*****r</span>
            </div>
            <div class="user-review-right">
              <i class="fa-solid fa-star"></i>
              <span>5.0</span>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </div>
          <div class="user-review-category">
            <p>Product Category</p>
            <p>Product Category</p>
          </div>
          <div class="my-4 user-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, omnis?</p>
          </div>
          <div class="user-rating">
            <div class="user-thumb">
              <i class="fa-solid fa-thumbs-up"></i>
              HelpFul?
            </div>
            <div class="user-day">
              <p class="mb-0">Wednesday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-pagination" style="margin-top:10px">
        <nav aria-label="Page navigation example" class="my-3 custom-pagination">
          <ul class="pagination">
            <li class="page-item rounded-item"><a style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;" class="page-link"
                href="javascript:void(0)"><i class="fa-solid fa-chevron-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">...</a></li>
            <li class="page-item rounded-item"><a class="page-link" href="javascript:void(0)"><i
                  class="fa-solid fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>
        <a href="javascript:void(0)">
          See More
        </a>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center bestProduct my-4">
        <h1 style="font-size: 16px;">Recommdendation</h1>
        <a href="javascript:void(0)">
          See more
        </a>
      </div>
      <div class="productCards">
        <div class="card" style="width: 18rem; margin-top:-14px" data-aos="fade-down">
          <i class="fa-regular fa-heart"></i>
          <div class="imgHolder">
          </div>
          <div class="card-body">
            <span class="card-title">Shirt</span>
            <p class="card-text">Essentials's Men's Short-Sleeve Crewneck T-Shirt</p>
            <div class="d-flex justify-content-between align-items-center cardFooter">
              <div class="d-flex justify-content-start align-items-center mr-1 cardReviews">
                <i class="fa-solid fa-star"></i>
                4.9
                |
                2356
              </div>
              <span>
                $12.00
              </span>
            </div>
          </div>
        </div>
        <div class="card" style="width: 18rem; margin-top:-14px" data-aos="fade-down">
          <i class="fa-regular fa-heart"></i>
          <div class="imgHolder1">
          </div>
          <div class="card-body">
            <span class="card-title">Shirt</span>
            <p class="card-text">Essentials's Men's Short-Sleeve Crewneck T-Shirt</p>
            <div class="d-flex justify-content-between align-items-center cardFooter">
              <div class="d-flex justify-content-start align-items-center mr-1 cardReviews">
                <i class="fa-solid fa-star"></i>
                4.9
                |
                2356
              </div>
              <span>
                $12.00
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
